<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <div class="nav">
      <a href="../../home/index.html" target="_top">
        <img src="../../assets/icons/home_icon.svg" alt="home" />
      </a>
      <a href="../../cadastrar/veiculo/passo1/index.html" target="_top">
        <img src="../../assets/icons/car_icon.svg" alt="cadastrar" />
      </a>
      <a href="../../alugar/passo1/index.html" target="_top">
        <img src="../../assets/icons/calendar_icon.svg" alt="alugar" />
      </a>
      <a href="../../login/index.html" target="_top">
        <img src="../../assets/icons/user_icon.svg" alt="usuario" />
      </a>
    </div>
  </body>
</html>
